body {
  background: #fff;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: auto;
}

.title {
  background: #e3f4ff;
  padding: 2px 0px 2px 4px;
}

.content {
  background: #e3f4ff;
  padding: 3px;
  text-align: center;
  margin: auto;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 4px auto;
  margin-bottom: 4px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 4px auto;
  padding: 12px;
  font-size: 18px;
}